// Custom styles.
// 自定义的文章摘要图片样式
img.img-topic {
    width: 100%;
    border-radius: 4px;
}
img {
    border-radius: 4px;
    margin-top: 10px !important;
}
.fancybox img {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
}
code {
    width: 100%;
    border-radius: 4px;
	border: 0px !important;
	padding-top: 0px !important;
    padding-bottom: 0px !important;
}
body {
  	margin-bottom: 10px;
  	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 16px;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

.post-body p {
	margin-bottom: 4px;
 	text-align: justify;
}
.post-body h1 {
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 32px;
	font-weight: 360;
}

.post-body h1:after
{
    content:' ';
    display:block;
    border:0.5px solid #d0d0d0;
    margin: 0 0 10px 0;
    border-radius: 1px;
}

.post-body h2 {
	margin-top: 0px;
	padding-top: 10px !important;
	margin-bottom: 5px;
	font-size: 28px;
	font-weight: 200;
	background-color:
}

.post-body h3 {
	margin-top: 0px;
	padding-top: 0px !important;
	margin-bottom: 5px;
	font-weight: 200;
	font-size: 24px;
}

h1 h2 h3 h4 {
	font-weight: 200;
}

.posts-expand .post-title {
	font-size: 32px;
	font-weight: 200;
}

blockquote {
  border-left-color: #ffa506;
  padding-right: 0px;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.datecircle{
	height: 70px;
    margin-bottom: -33px;
    text-align: center;
    position: relative;
	z-index: 100;
}
.datecircle-date{
    font-size: 16px;
    background: #fff;
    color: #111125;
    border-radius: 70px;
    border: 2px solid #000;
    height: 70px;
    width: 70px;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
.datecircle-date .day{
	font-size: 20px;
	display: block;
	font-weight: 600;
    margin-top: 19px;
}
.datecircle-date .month{
	font-size: 12px;
	display: block;
	font-weight: 400;
}
.datecircle.no-image{
	height: 47px;
	margin-bottom: 51px;
	border-bottom: 1px solid #dddddd;
}

.post-footer {
	margin-top: 30px;
}
@import highlight;
